@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-text-color: #212529;
    --secondary-text-color: #343a40;
    --main-color: #f6bd60;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #edede9;
}

.grid-container {
    display: grid;
    grid-template-columns: 20rem 1fr 1fr 20rem;
    grid-template-rows: 10rem 1fr 1fr 10rem;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.header {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#connect {
    font-weight: 500;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--main-text-color);
}

#right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding-right: 1.5rem;
    color: var(--main-color);
}

.socials {
    display: flex;
    gap: 2rem;
    transition: all .3s ease;
}

.socials a:hover {
    transform: scale(1.1);
    transition: all .3s ease-out;
    color: var(--main-color);
}

.socials a {
    text-decoration: none;
    color: var(--main-text-color);
}

.socials p {
    font-size: 2rem;
}

.header h1 {
    font-style: italic;
    color: var(--main-text-color);
    transition: all .3s ease;
    cursor: pointer;
}

.header h1:hover {
    transform: scale(1.1);
    transition: all .3s ease-out;
    color: var(--main-color);
}

.main-text {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20rem;
    gap: .3rem;
}

.main-text h1 {
    font-size: 3rem;
    color: var(--main-text-color);
}

.main-text h4 {
    font-size: 1.3rem;
    color: var(--secondary-text-color);
    opacity: .8;
}

.main-text p {
    font-size: 1rem;
    padding-bottom: 1rem;
}

.main-text a {
    color: var(--secondary-text-color);
    text-decoration: none;
    width: 15%;
    height: .8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--main-color);
    border-radius: 10rem;
    transition: all.3s ease;
    font-weight: 500;
}

.main-text a:hover {
    transform: scale(1.1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-text i {
    padding-left: .5rem;
}

.main-img {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    align-self: center;
    justify-self: flex-end;
    padding-right: 20rem;
}

.footer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: var(--main-text-color);
    height: 20%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 1rem;
    border-radius: 50rem;
}

.footer p {
    font-size: .7rem;
    color: #edede9;
}

@media (min-width: 300px) {

    .grid-container {
        grid-template-columns: 10rem 1fr 1fr 1fr 10rem;
        grid-template-rows: 10rem 1fr 1fr 1fr 1fr 10rem;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
    }

    .header {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .main-img {
        grid-column-start:2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(2rem,0);
        padding-top: 12rem;
    }

    .main-text {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translate(-10rem, -5rem);
        padding-top: 5rem;
        text-align: center;
        flex-wrap: nowrap;
    }
    
    .main-text h1 {
        font-size: 3.6rem;
        color: var(--main-text-color);
    }
    
    .main-text h4 {
        font-size: 1.7rem;
        color: var(--secondary-text-color);
        opacity: .8;
    }
    
    .main-text p {
        font-size: 1.75rem;
        color: var(--secondary-text-color);
        padding-bottom: 3rem;
    }
    
    .main-text a {
        color: var(--secondary-text-color);
        text-decoration: none;
        width: 50%;
        height: .8rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding: 1rem;
        background-color: var(--main-color);
        border-radius: 10rem;
        font-weight: 500;
    }
    
    .main-text i {
        padding-left: .5rem;
    }

    .footer {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
        background-color: var(--main-text-color);
        height: 30%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        align-self: center;
        border-radius: 50rem;
    }
    
    .footer p {
        font-size: .8rem;
        color: #edede9;
    }

    br {
        display: none;
    }
}

/*1*/